body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button { 
    cursor: pointer;
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #region header */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
    align-items: center;
}
.logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42; 
}
.nav-menu-link.current {
    position: relative;
}
.nav-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
width: 100%;
height: 4px;
background-color: #404bbf;
}

.nav-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-link:hover, .nav-menu-link:focus, .nav-menu-link.current {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-menu-link:hover, .contacts-menu-link:focus {
    color: #404bbf;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container {
    display: flex;
    align-items: center
}
.nav-menu-container {
    display: flex;
    gap: 40px;
}
.contacts-menu-container {
    display: flex;
    gap: 40px;
}
/* #endregion header */
/* #region hero */
.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/background/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;
    padding: 188px 0;
    max-width: 1440px;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
    background-color: #404bbf;
}
/* #endregion hero */
/* #region benefits */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.benefits-item {
    width: calc((100% - 3*24px)/4);
}
.benefits-item-border {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion benefits */
/* #region team */

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-menu {
    display: flex;
    gap: 24px;
}
.team-item {
    background: #fff;
    width:calc((100% - 3*24px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-img {
    background: url("path_to_image");
}
.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.menu-team-social {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
height: 40px;
height: 40px;
}
.team-social-item {
    width: 40px;
    height: 40px;
}

 .team-social-link {
    background-color: #404bbf;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .team-social-icon {
    fill: #f4f4fd;
    position: absolute;
    top: 12px;
    left: 12px;
 
 }
 .team-social-link:hover, .team-social-link:focus {
    background-color: #31D0AA; 
 }
/* #endregion team */
/* #region portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 2*24px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover, .portfolio-item:focus { 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-box {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 360px;
height: 300px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 32px;
}
.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover .portfolio-cover-text {
    transform: translate(0);
}
.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion portfolio */
.container.footer-container {
    width: 1440px;
    display: flex;
    gap: 120px;
    align-items: baseline;
}
.footer-logo-div {
    padding-left: 156px;
}
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-container-social {
    width: 208px;
    padding-bottom: 132px;
}
.footer-social-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
padding-bottom: 16px;
 }
 .footer-social-icon:hover, .footer-social-icon:focus {
    fill: #31D0AA;
 }
 .footer-social-menu {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
 }
 .footer-social-item {
    width: 40px;
    height: 40px;
 }
 .footer-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
 width: 100%;
 height: 100%;
    display: inline-block;
    position: relative;
 }
 .footer-social-icon {
    fill: #f4f4fd;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .footer-social-link:hover, .footer-social-link:focus {
    background-color: #31D0AA;
 }